#!/usr/bin/env nextflow

includeConfig "$baseDir/../../../configs/module-defaults.config"

params.outdir = './results'
docker.enabled = true

// add extra module parameter for testing
params {
    modules {
        'velocyto_run_smartseq2_hdf5' {
            args             = "-d 1"
            publish_dir      = "velocyto"
            publish_results  = "all"
        }
    }
}
