/*
 * -------------------------------------------------
 *  luslab/nfcore-mod-samtools Nextflow config file
 * -------------------------------------------------
 * Config options for running individual module test patterns
 */

process.container = 'luslab/nf-modules-samtools:workflow-testing'
docker.enabled = true