/*
 * -------------------------------------------------
 *  luslab/nfcore-mod-paraclu Nextflow config file
 * -------------------------------------------------
 * Config options for running individual module test patterns
 */

process.container = 'luslab/nf-modules-paraclu:workflow-testing'
docker.enabled = true