includeConfig "$baseDir/../../../configs/luslab-base.config"

manifest {
    name = 'Resource Allocation Test Pipeline'
    author = 'Luscombe Lab'
    homePage = 'https://github.com/luslab/luslab-nf-modules/tree/master/workflows/resource_allocation'
    description = 'pipeline-description'
    nextflowVersion = '>=20.07.1'
    version = '1.0'
}