// Load module params specific for testing

params {
    modules {
        'homer_annotate_peaks' {
            args             = "-gid"
            suffix           = ".annotated.txt"
            publish_dir      = "homer_annotate_peaks"
            publish_results  = "all"
        }
        'homer_find_motifs' {
            args             = "-nomotif -N 50 -size 50 -mask"
            publish_dir      = "homer_find_motifs"
            publish_results  = "all"
        }
    }
}


params.outdir = './results'
docker.enabled = true