params{
    modules {
        "last_db_genome_to_genome_near" {
            args             = "-uNEAR -R01"
            publish_dir      = "last_genome_to_genome_near"
            publish_results  = "all"
        }
        "last_db_genome_to_genome_distant" {
            args             = "-uMAM4 -R01"
            publish_dir      = "last_genome_to_genome_distant"
            publish_results  = "all"
        }
        "last_train_genome_to_genome_near" {
            args             = "--revsym --matsym --gapsym -E0.05 -C2"
            publish_dir      = "last_genome_to_genome_near"
            publish_results  = "all"
        }
        "last_train_genome_to_genome_distant" {
            args             = "--revsym --matsym --gapsym -E0.05 -C2"
            publish_dir      = "last_genome_to_genome_distant"
            publish_results  = "all"
        }
        "last_align_genome_to_genome_near" {
            args             = "-m50 -E0.05 -C2"
            publish_dir      = "last_genome_to_genome_near"
            publish_results  = "all"
        }
        "last_align_genome_to_genome_distant" {
            args             = "-m100 -E0.05 -C2"
            publish_dir      = "last_genome_to_genome_distant"
            publish_results  = "all"
        }
        "last_filter_one_to_many_near" {
            args             = ""
            publish_dir      = "last_genome_to_genome_near"
            publish_results  = "all"
        }
        "last_filter_one_to_many_distant" {
            args             = ""
            publish_dir      = "last_genome_to_genome_distant"
            publish_results  = "all"
        }
        "last_filter_one_to_one_near" {
            args             = ""
            publish_dir      = "last_genome_to_genome_near"
            publish_results  = "all"
        }
        "last_filter_one_to_one_distant" {
            args             = ""
            publish_dir      = "last_genome_to_genome_distant"
            publish_results  = "all"
        }
        "last_dotplot_near" {
            args             = ""
            publish_dir      = "last_genome_to_genome_near"
            publish_results  = "all"
            suffix           = "png"
        }
        "last_dotplot_distant" {
            args             = ""
            publish_dir      = "last_genome_to_genome_distant"
            publish_results  = "all"
            suffix           = "png"
        }
        "last_db_reads_to_genome" {
            args             = "-uNEAR -R01"
            publish_dir      = "last_reads_to_genome"
            publish_results  = "all"
        }
        "last_train_reads_to_genome" {
            args             = "-Q0"
            publish_dir      = "last_reads_to_genome"
            publish_results  = "all"
        }
        "last_align_reads_to_genome" {
            args             = ""
            publish_dir      = "last_reads_to_genome"
            publish_results  = "all"
        }
        "last_convert_maf_to_sam" {
            args             = ""
            publish_dir      = "last_reads_to_genome"
            publish_results  = "all"
            suffix           = "sam"
        }
    }
}
