/*
 * -------------------------------------------------
 *  luslab/nfcore-mod-star Nextflow config file
 * -------------------------------------------------
 * Config options for running individual module test patterns
 */

process.container = 'luslab/nf-modules-star:workflow-testing'
docker.enabled = true