/*
 * -------------------------------------------------
 *  luslab/nfcore-mod-multiqc Nextflow config file
 * -------------------------------------------------
 * Config options for running individual module test patterns
 */

process.container = 'luslab/nf-modules-multiqc:workflow-testing'
docker.enabled = true