/*
 * -------------------------------------------------------------------
 *  Custom values for module specific default options - for tests only
 * -------------------------------------------------------------------
 */

params {
    modules {
        'index_genome_only' { // for star_genome_generate run alone
            args             = ""
            publish_dir      = "index_genome_only_output"
            publish_results  = "all"
            sjdbGTFfile          = ""
            sjdbFileChrStartEnd  = ""
            varVCFfile           = ""
        } 

        'index_genome' { // for star_genome_generate run with star_align_reads
            args             = ""
            publish_dir      = "index_genome_output"
            publish_results  = "all"
            sjdbGTFfile          = ""
            sjdbFileChrStartEnd  = ""
            varVCFfile           = ""
        }

        'map_se' { // for star_align_reads run alone, with single-end reads
            args                 = ""
            publish_dir          = "map_se_output"
            publish_results      = "all"
            sjdbGTFfile          = ""
            sjdbFileChrStartEnd  = ""
            varVCFfile           = ""
        }    

        'map_pe' { // for star_align_reads run alone, with paired-end reads
            args                 = ""
            publish_dir          = "map_pe_output"
            publish_results      = "all"
            sjdbGTFfile          = ""
            sjdbFileChrStartEnd  = ""
            varVCFfile           = ""
        }

        'align_reads' { // for star_align_reads run with star_genome_generate
            args                 = ""
            publish_dir          = "align_reads_output"
            publish_results      = "all"
            sjdbGTFfile          = ""
            sjdbFileChrStartEnd  = ""
            varVCFfile           = ""
        }
    }
}

params.outdir = './results'
docker.enabled = true
