/*
 * -------------------------------------------------
 *  luslab/nfcore-mod-get-crosslinks-coverage Nextflow config file
 * -------------------------------------------------
 * Config options for running individual module test patterns
 */

process.container = 'luslab/nf-modules-get_crosslinks_coverage:workflow-testing'
docker.enabled = true