/*
 * -------------------------------------------------
 *  luslab/nfcore-mod-bedtools Nextflow config file
 * -------------------------------------------------
 * Config options for running individual module test patterns
 */

process.container = 'luslab/nf-modules-bedtools:workflow-testing'
docker.enabled = true