/*
 * -------------------------------------------------
 *  luslab/nfcore-mod-cutadapt Nextflow config file
 * -------------------------------------------------
 * Config options for running individual module test patterns
 */

process.container = 'luslab/nf-modules-cutadapt:latest'
docker.enabled = true