/*
 * Specific config for the Francis Crick Institute CAMP computing cluster
 */

// CAMP runs on a singularity container env
singularity {
  enabled = true
  autoMounts = true
}
docker.enabled = false


// Path to shared luslab singularity cache
// NOTE: this cannot be overriden in downstream config so it cannot be set here
//singularity.cacheDir = '/camp/lab/luscomben/home/shared/singularity'

// Crick specific computing max resource levels
params {
  max_memory = 224.GB
  max_cpus = 32
  max_gpus = 4
  max_time = 72.h
}

/*Selectors priority
When mixing generic process configuration and selectors the following priority rules are applied (from lower to higher):

1. Process generic configuration.
2. Process specific directive defined in the workflow script.
3. withLabel selector definition.
4. withName selector definition.
*/
process {
  executor = 'slurm'
  queue = 'cpu'


    // if(params.num_gpus == 0) {
    //   queue = 'cpu'
    // }
    // else {
    //   // Cluster options for GPU enabled instances
    //   queue = 'gpu'
    //   clusterOptions = "--gres=gpu:" + check_max( params.num_gpus, 'gpus' )

    //   // Container options for GPU enabled instances
    //   singularity.runOptions = '--nv'
    // }
}