/*
 * Specific config for the Francis Crick Institute CAMP computing cluster
 */

singularity {
  enabled = true
  autoMounts = true
}

// Load some standard modules before running script
process {
  executor = 'slurm'
  docker.enabled = false

  // Check if GPU enabled
    if(params.num_gpus == 0) {
      queue = 'cpu'
    }
    else {
      queue = 'gpu'
      clusterOptions = "--gres=gpu:" + check_max( params.num_gpus, 'gpus' )

      // Container options for GPU enabled instances
      singularity.runOptions = '--nv'
    }
}

// Crick specific computing max resource levels
params {
  max_memory = 224.GB
  max_cpus = 32
  max_gpus = 4
  max_time = 72.h
}