/*
 * ---------------------------------------------------------
 *  Nextflow config file for module specific default options
 * ---------------------------------------------------------
 */

params {
    modules {
        'bedtools_intersect' {
            args             = ""
            suffix           = ".annotated"
            publish_dir      = "bedtools_intersect"
            publish_results  = "all"
        }
        'guppy_basecaller' {
            args             = "--compress_fastq"
            publish_dir      = "guppy"
            publish_results  = "all"
            flowcell         = "FLO-MIN106"
            kit              = "SQK-RAD002"
            threads_per_caller = 1
        }
        'guppy_qc' {
            args             = ""
            suffix           = ""
            publish_dir      = "guppy_qc"
            publish_results  = "all"
        }
        'flye' {
            args             = ""
            suffix           = ""
            publish_dir      = "flye"
            publish_results  = "all"
            genome_size      = 0
        }
        'minimap2' {
            args             = ""
            suffix           = ".aligned"
            publish_dir      = "minimap2"
            publish_results  = "all"
        }
    }
}