/*
 * ---------------------------------------------------------
 *  Nextflow config file for module specific default options
 * ---------------------------------------------------------
 */

params {
    modules {
        'bedtools_intersect' {
            args             = ""
            suffix           = ".annotated"
            publish_dir      = "bedtools_intersect"
            publish_results  = "all"
        },
        'guppy' {
            args             = ""
            suffix           = ".annotated"
            publish_dir      = "guppy"
            publish_results  = "all"
            flowcell         = "FLO-MIN106"
            kit              = "SQK-RAD002"
        }
    }
}