/*
 * ---------------------------------------------------------
 *  Nextflow config file for module specific default options
 * ---------------------------------------------------------
 */

params {
    modules {
        'bedtools_intersect' {
            args             = ""
            suffix           = ".annotated"
            publish_dir      = "bedtools_intersect"
            publish_results  = "all"
        }
        'cutadapt' {
            args             = ""
            suffix           = ".trimmed"
            publish_dir      = "cutadapt"
            publish_results  = "all"
        }
        'hisat2_splice_align' {
            args             = "--phred33 --dta-cufflinks"
            suffix           = ".aligned"
            publish_dir      = "hisat2"
            publish_results  = "all"
        }
        'hisat2_align' {
            args             = "--phred33 --dta-cufflinks"
            suffix           = ".aligned"
            publish_dir      = "hisat2"
            publish_results  = "all"
        }
        'hisat2_build' {
            args             = ""
            prefix           = "index"
            publish_dir      = "hisat2"
            publish_results  = "all"
            index_dir        = "hisat2_index"
        }
        'hisat2_splice_sites' {
            args             = ""
            prefix           = "splice_sites"
            suffix           = ".txt"
            publish_dir      = "hisat2"
            publish_results  = "all"
        }
        'guppy_basecaller' {
            args             = "--compress_fastq"
            publish_dir      = "guppy"
            publish_results  = "all"
            flowcell         = "FLO-MIN106"
            kit              = "SQK-RAD002"
            threads_per_caller = 1
        }
        'guppy_qc' {
            args             = ""
            suffix           = ""
            publish_dir      = "guppy_qc"
            publish_results  = "all"
        }
        'minionqc' {
            args             = "-f pdf"
            suffix           = ""
            publish_dir      = "minionqc"
        }
        'flye' {
            args             = ""
            suffix           = ""
            publish_dir      = "flye"
            publish_results  = "all"
            genome_size      = 0
        }
        'minimap2' {
            args             = ""
            suffix           = ".aligned"
            publish_dir      = "minimap2"
            publish_results  = "all"
        }
        'bowtie2_align' {
            args             = ""
            suffix           = ""
            publish_dir      = "bowtie2"
            publish_results  = "all"
        }
        'bowtie2_build' {
            args             = ""
            publish_dir      = "bowtie2_index"
            publish_results  = "all"
        }
        'tantan' {
            args             = ""
            publish_dir      = "tantan"
            publish_results  = "all"
            max_period       = 100
        }
        'tantan_to_GFF3' {
            args             = ""
            publish_dir      = "tantan_to_GFF3"
            publish_results  = "all"
        }
        'star_genomeGenerate' {
            args             = ""
            publish_dir      = "star_genomeGenerate"
            publish_results  = "all"
            sjdbGTFfile          = ""
            sjdbFileChrStartEnd  = ""
            varVCFfile           = ""
        } 
        'star_alignReads' {
            args                 = ""
            publish_dir          = "star_alignReads"
            publish_results      = "all"
            sjdbGTFfile          = ""
            sjdbFileChrStartEnd  = ""
            varVCFfile           = ""
        }    
    }
}
