/*
 * Specific config for the deigo cluster at the
 * Okinawa Institute of Science and Technology Graduate University
 */

docker.enabled = false

singularity {
  enabled = true
  autoMounts = true
}

// Load some standard modules before running script
process {
  executor = 'slurm'
  queue = 'compute'
  clusterOptions = '-C zen2'
  withLabel: min_cores {
      cpus = 1
  }
  withLabel: low_cores {
      cpus = 4
  }
  withLabel: avg_cores {
      cpus = 8
  }
  withLabel: high_cores {
      cpus = 63
  }
  withLabel: max_cores {
      cpus = 127
  }
  withLabel: min_mem {
      memory = 4.GB
  }
  withLabel: low_mem {
      memory = 16.GB
  }
  withLabel: avg_mem {
      memory = 32.GB
  }
  withLabel: high_mem {
      memory = 200.GB
  }
  withLabel: max_mem {
      memory = 500.GB
  }
}

// deigo's short queue's specific computing max resource levels
params {
  max_memory = 500.GB
  max_cpus = 128
  max_time = 90.h
}
