params{
    modules {
        "blast_makeblastdb_nucl" {
            args             = "-parse_seqids"
            dbtype           = "nucl"
            publish_dir      = "blast_makeblastdb_nucl"
            publish_results  = "all"
        }
        "blast_makeblastdb_prot" {
            args             = "-parse_seqids"
            dbtype           = "prot"
            publish_dir      = "blast_makeblastdb_prot"
            publish_results  = "all"
        }
    }
}
