includeConfig "$baseDir/../../../configs/module-defaults.config"

params.outdir = './results'
params.num_gpus = 0
docker.enabled = true

// If number of GPUs is 0, do nothing. If not, use docker GPU runtime options.
if(params.num_gpus == 0) {
}
else {
docker.runOptions = '--gpus all -u \$(id -u):\$(id -g)'
}
