/*
 * -------------------------------------------------
 *  luslab/nfcore-mod-icount Nextflow config file
 * -------------------------------------------------
 * Config options for running individual module test patterns
 */

process.container = 'luslab/nf-modules-icount:workflow-testing'
docker.enabled = true