params.outdir = './results'
docker.enabled = true

params {
    modules {
        'fastqc_se' {
            args             = ""
            suffix           = "_single"
            publish_dir      = "fastqc_single"
            publish_results  = "all"
        }
         'fastqc_pe' {
            args             = ""
            suffix           = "_paired"
            publish_dir      = "fastqc_paired"
            publish_results  = "all"
        }
    }
}
