/*
 * -------------------------------------------------
 *  luslab/nfcore-mod-fastqc Nextflow config file
 * -------------------------------------------------
 * Config options for running individual module test patterns
 */

process.container = 'luslab/nf-modules-fastqc:workflow-testing'
docker.enabled = true