/*
 * -------------------------------------------------
 *  luslab/nfcore-mod-umi-tools Nextflow config file
 * -------------------------------------------------
 * Config options for running individual module test patterns
 */

process.container = 'luslab/nf-modules-umi_tools:workflow-testing'
docker.enabled = true